<% if @article.errors.any? %>
<div class='container'>
  <div class='row'>
    <div class='col-10'>
      <div class='card text-danger border-danger mb-3'>
        <div class='card-heading'>
          <h2 class='card-title text-center'>
            <%= pluralize(@article.errors.count, 'error') %>
            prohibited this <%= obj.class %> from being saved:
          </h2>
          <div class='card-body'>
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>