<div class='container'>
 <div class='justify-content-md-center'>
    <% flash.each do |key,message| %>
    <div class="alert alert-<%= bootstrap_class_for(key) %> alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
    <% end %>
  </div>
</div>